// Theme Specific Styles

// Full page Layout
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

#app {
  display: flex;
  flex-direction: column;

  #MobileNavMenu {
    display: block;
    width: 250px;
    height: 100%;
    left:100%;
    right: -250px;
    top: 0;
    z-index: 3;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
    @media screen and (min-width:370px){
      width: 270px;
      right:-270px
    }
  }
  #MobileNavMenu.is-active {
    width: 250px;
    left: auto;
    right: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    overflow-y: scroll;
    @media screen and (min-width: 370px) {
      width: 270px;
    }

    #mobile-menu {
      .navbar-item{
        padding:0;
      }
    }
  }

  .site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
    position: relative;

    @media screen and (min-width: 1084px){
      .container {
        max-width:1012px;
        width:1012px;
      }
    }
  }

  .site-wrapper.menu-open {
    width: 100%;
    transform: translate(-250px, 0);
    position: fixed;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    top: 0;
    @media screen and (min-width:370px){
      transform: translate(-270px, 0);
    }

    .site-mobile-overlay {
      position: absolute;
      height: 100vh;
      width: 100vh;
      background-color: rgba(0,0,0,0.3);
      z-index: 3;
    }
  }

  .site-wrapper.full-height {
    height: 100vh;
  }

}

//Sticky Header
#top {
  width: 100%;
  position: relative;
  z-index: 3;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -ms-transition: all linear .25s;
  -o-transition: all linear .25s;
  transition: all linear .25s;

  @media screen and (min-width: $desktop) {
    position: fixed;
  }

  .navbar {
    background-color: #FFF;
    width: 100%;
    min-height: 100%;
    @media screen and (min-width: $desktop) {
      background-color: transparent;
    }

    .navbar-brand {
      min-height: 100%;
      .logo {
        padding: .5rem 1rem;
        height:157px;
        width:227px;
        display: block;
        -webkit-transition: all linear .25s;
        -moz-transition: all linear .25s;
        -ms-transition: all linear .25s;
        -o-transition: all linear .25s;
        transition: all linear .25s;
      }

    }

    .navbar-item {
      padding: .5rem;
      img {
        max-height: 2.75rem;
      }
      a.menu-item {
        font-family: $header-font-family;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #31081F
      }
      a.menu-item:hover, a.current_page_item, a.navbar-link.is-active {
        color: #862C1B;
        background-color: transparent;
      }
    }

    div#main-menu {
      display: none;

      @media screen and (min-width: $desktop) {
        display: flex;
      }
    }

  }
}

.scrolling #top {
  background-color: rgba(255,255,255,.9);
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  .logo {
    height:80px !important;
    width:124px !important;
  }
}

//Middle section
#mid {
  position: relative;
  flex: 1 0 auto;
  z-index: 2;

  .section {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 2.5rem 0;

    .section-title {
      .title {
        color: #FFF;
        font-family: $header-font-family;
        padding-bottom: 1.75rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.8em;
      }
    }
  }

  .section.top-section {
    padding-top: 165px;
  }

  .section.home-header {
    background-image: url('/wp-content/themes/kma-slim/img/water photo.png');
    background-position: center;
    background-size: cover;
  }

  .section.entry-content {
    .title {
      font-family: $header-font-family;
      font-weight: 300;
      color: #31081F;
      font-size: 2.8em;
    }
    .subtitle {
      font-family: $fancy-font;
      color: #5dc5cd;
      font-size: 2.4em;
    }
  }

  .section.entry-content.home {
    .title, .subtitle {
      text-align :center;
    }
  }

  .section.connect {

    background-image: url('/wp-content/themes/kma-slim/img/brick wall.png');
    background-position: center;
    background-size: cover;

    .card {
      height:100%;

      .title {
        font-family: $header-font-family;
        text-align: center;
        color: #31081F;
        font-weight:300;
        padding-bottom: 1.25rem;
      }
    }
  }

  .mini-photo-gallery {
    .photos {
      text-align: center;
      justify-content: center;
      padding-top: 1rem;

      .column.is-4 {
        display: inline-block;
        width:33%;
        padding:.2rem;
      }
    }
  }

}


#bot {
  position: relative;
  z-index: 1;
}